/* HTML
**********************************/
select {-webkit-appearance:none; }

/* Checkboxes
*********************************/
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] { position: absolute; margin-top: 4px \9; margin-left: 0px; }

/* date
*************************************/
.datetime label,
.time label,
.date label { display: block; }

.datetime select.form-control,
.time select.form-control,
.date select.form-control { width:auto; display:inline-block;}

/* Form errors
*************************************/
form .error { background: #FFDACC; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; font-weight: normal; }
form .error-message { -moz-border-radius: none; -webkit-border-radius: none; border-radius: none; border: none; background: none; margin: 0; padding-left: 4px; padding-right: 0; }
form .error,
form .error-message { color: #9E2424; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; box-shadow: none; text-shadow: none; }

/* Form reuiered
*************************************/
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;

/* CODE
*************************************/
.cake-code-dump pre,
.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
.cake-code-dump .code-highlight {
	display: block;
	background-color: rgba(255, 255, 0, 0.5);
}
.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
.code-coverage-results div.covered span.content {
	background:#cec;
}
.code-coverage-results div.ignored span.content {
	color:#aaa;
}
.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
.code-coverage-results span.line-num strong {
	color:#666;
}
.code-coverage-results div.start {
	margin-top:30px;
	padding-top:5px;
}
.code-coverage-results div.end {
	margin-bottom:30px;
	padding-bottom:5px;
}
.code-coverage-results div.realstart {
	margin-top:0px;
}
.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
.code-coverage-results span.result-bad {
	color: #a00;
}
.code-coverage-results span.result-ok {
	color: #fa0;
}
.code-coverage-results span.result-good {
	color: #0a0;
}
