@font-face { font-family: 'CircularStd-Book'; src: url('../fonts/circular/CircularStd-Book.eot'); /* IE9 Compat Modes */ src: url('../fonts/circular/CircularStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/circular/CircularStd-Book.woff') format('woff'), /* Modern Browsers */ url('../fonts/circular/CircularStd-Book.ttf')  format('truetype'), /* Safari, Android, iOS */ url('../fonts/circular/CircularStd-Book.svg#dd452d63ae05ddb466f19713a7d09fd5') format('svg'); /* Legacy iOS */ font-style:   normal; font-weight:  200; }
@font-face { font-family: 'Circular Std Book Italic'; src: url('../fonts/circular/CircularStd-BookItalic.eot'); /* IE9 Compat Modes */ src: url('../fonts/circular/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/circular/CircularStd-BookItalic.woff') format('woff'), /* Modern Browsers */ url('../fonts/circular/CircularStd-BookItalic.ttf')  format('truetype'), /* Safari, Android, iOS */ url('../fonts/circular/CircularStd-BookItalic.svg#855bce7df969ba08883ae8fbab5e7b18') format('svg'); /* Legacy iOS */ font-style:   italic; font-weight:  200; }
@font-face { font-family: 'CircularStd-Medium'; src: url('../fonts/circular/CircularStd-Medium.eot'); /* IE9 Compat Modes */ src: url('../fonts/circular/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/circular/CircularStd-Medium.woff') format('woff'), /* Modern Browsers */ url('../fonts/circular/CircularStd-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */ url('../fonts/circular/CircularStd-Medium.svg#a81919819e5d11fb78ee7eadc8883b0d') format('svg'); /* Legacy iOS */ font-style:   normal; font-weight:  700; }
@font-face { font-family: 'Circular Std Bold Italic'; src: url('../fonts/circular/CircularStd-BoldItalic.eot'); /* IE9 Compat Modes */ src: url('../fonts/circular/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/circular/CircularStd-BoldItalic.woff') format('woff'), /* Modern Browsers */ url('../fonts/circular/CircularStd-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */ url('../fonts/circular/CircularStd-BoldItalic.svg#5957d2c48c4c05c65aa56927c61c0fdc') format('svg'); /* Legacy iOS */ font-style:   italic; font-weight:  700; }
@font-face { font-family: 'OPTISteileFutura'; src: url('../fonts/optisteilefutura/OPTISteFutBol.eot'); /* IE9 Compat Modes */ src: url('../fonts/optisteilefutura/OPTISteFutBol.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/optisteilefutura/OPTISteFutBol.woff') format('woff'), /* Modern Browsers */ url('../fonts/optisteilefutura/OPTISteFutBol.ttf')  format('truetype'), /* Safari, Android, iOS */ url('../fonts/optisteilefutura/OPTISteFutBol.svg#2cfe9bce19a7978bef9f96fa0676af81') format('svg'); /* Legacy iOS */ font-style:   normal; font-weight:  700; }
@font-face { font-family: 'OPTISteileFuturaIta'; src: url('../fonts/optisteilefutura/OPTISteFutBolIta.eot'); /* IE9 Compat Modes */ src: url('../fonts/optisteilefutura/OPTISteFutBolIta.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/optisteilefutura/OPTISteFutBolIta.woff') format('woff'), /* Modern Browsers */ url('../fonts/optisteilefutura/OPTISteFutBolIta.ttf')  format('truetype'), /* Safari, Android, iOS */ url('../fonts/optisteilefutura/OPTISteFutBolIta.svg#5ae88360952f331944c632c9ea91d2a8') format('svg'); /* Legacy iOS */ font-style:   normal; font-weight:  700; }

/* STICKY FOOTER */
* { margin: 0;}
html, body {height: 100%;}
.page-wrap {min-height: 100%; margin-bottom: -254px; }
.page-wrap:after {content: "";display: block;}
footer, .page-wrap:after {height: 254px; }

/* FONTS & SIZES */
body{font-family: 'CircularStd-Book', Sans-Serif;color:#4a3c3c;}
html{font-size: 62.5%;}

h1{font-size: 5rem;font-family: 'OPTISteileFutura';text-transform: uppercase;}
h2{font-size: 4rem;font-family: 'OPTISteileFutura';text-transform: uppercase;}
h3{font-size: 3rem;font-family: 'OPTISteileFutura';text-transform: uppercase;}
h4{font-family: 'CircularStd-Medium';}
h5{font-family: 'CircularStd-Book';}

.lead{font-size: 1.7rem;}
.nav.primary-nav>li>a{font-size: 1.4rem;line-height:2.8rem;}
.nav.lng-nav>li>a{font-size: 1.2rem;}
.nav.social-nav>li>a>i{font-size: 1.6rem;}

b{font-family: 'CircularStd-Medium';}

.text_grey{color:#a59e9e;}

.index-filter-title h5{font-family: 'CircularStd-Medium'; font-size: 1.5rem;text-transform: uppercase}

/* BASE ELEMS FIX */
a, a:hover, a:visited, a:link, a:active{text-decoration: none;color:#4a3c3c;}
textarea, input, button { border: none;outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.section-last{padding-bottom: 200px;}
section+section{margin-top: 100px;}
section:last-child{margin-bottom: 100px;}

/* NEW ELEMS */
.custom-btn{display:table;font-size: 1.5rem;line-height: 1.5rem;cursor:pointer;text-align: center;}
.custom-btn>div{display:table-cell;vertical-align: middle;}
.custom-btn .custom-btn-title{width:120px;padding:8px 30px;background-color: #d5d5d5;text-transform: uppercase;}
.custom-btn .custom-btn-icon{padding:8px 10px;background-color: #4a3c3c;}

/* HEADER */
.navbar-nav.nav>li>a{position:relative;}
.navbar-nav.nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus{background: none;}
.navbar-nav{text-transform: uppercase}
.navbar-collapse{padding-right: 0px}

/* PRIMARY NAV */
.nav.primary-nav{padding:15px 0;}
.nav.primary-nav>li.active>a{font-family: 'CircularStd-Medium';border-bottom:2px solid #4a3c3c;}
.nav.primary-nav>li>a{height:auto;padding:0 15px;}
.nav.primary-nav>li>a:hover{border-bottom:2px solid #4a3c3c;}
.nav.primary-nav>li.active>a:before,
.nav.primary-nav>li>a:hover:before{content:'';position:absolute;left:0;top:2.1rem;width:30px;height:1.1rem;background:white;}
.nav.primary-nav>li.active>a:after,
.nav.primary-nav>li>a:hover:after{content:'';position:absolute;right:0;top:2.1rem;width:30px;height:1.1rem;background:white;}

/* LNG NAV */
.nav.lng-nav>li>a{padding:15px 5px 15px 0;}
.nav.lng-nav>li.active>a{font-family: 'CircularStd-Medium';}
.nav.lng-nav>li:not(:first-child)>a:before{content:'/';padding-right:5px;}
.nav.lng-nav>li:last-child>a{padding-right: 0;}

/* SOCIAL NAV */
.nav.social-nav{padding:15px 0;}
.nav.social-nav>li>a{padding:7px 7px;}
.nav.social-nav>li:last-child{padding-left: 15px;}
.nav.social-nav .search-box form>*{padding:5px 10px;}
.nav.social-nav .search-box label{margin-right: -3px;background-color: #4a3c3c;color: #d5d5d5;}
.nav.social-nav .search-box input{background-color: #d5d5d5;border:none;}

/* FOOTER */
footer{box-shadow: inset 0 25px 35px -25px rgba(0,0,0,0.7);}
footer>div:first-child{padding:40px 15px;}
.subfooter{padding:10px;background-color: #4a3c3c;color:white;}
.subfooter a{color:white;}
.subfooter a:hover{color:#d5d5d5;}



/* INDEX FILTER */

/* ---- INDEX FILTER ANIMS */

@keyframes slideDownAndFade { from { max-height: 0;opacity:0; } to { max-height: 350px;opacity:1; } }
@keyframes slideUpAndFade { from { max-height: 350px;opacity:1; } to { max-height: 0;opacity:0; } }
@-moz-keyframes crossRotateIn { 100% { -moz-transform: rotate(225deg); } }
@-webkit-keyframes crossRotateIn { 100% { -webkit-transform: rotate(225deg); } }
@keyframes crossRotateIn { 100% { -webkit-transform: rotate(225deg); transform:rotate(225deg); } }
@-moz-keyframes crossRotateOut { 100% { -moz-transform: rotate(0deg); } }
@-webkit-keyframes crossRotateOut { 100% { -webkit-transform: rotate(0deg); } }
@keyframes crossRotateOut { 100% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } }

.slide-down{max-height:250px;opacity:1; animation: slideDownAndFade 0.5s linear;}
.slide-up{max-height:0px;opacity:0; animation: slideUpAndFade 0.5s linear;}

.index-filter-header .custom-btn-icon img.rotate-in{-webkit-animation:crossRotateIn 0.5s ease ; -moz-animation:crossRotateIn 0.5s ease ; animation:crossRotateIn 0.5s ease ;}
.index-filter-header .custom-btn-icon img.rotate-out{-webkit-animation:crossRotateOut 0.5s ease ; -moz-animation:crossRotateOut 0.5s ease ; animation:crossRotateOut 0.5s ease ;}

.index-filter-header .custom-btn-icon img{transform:rotate(0deg);}
.index-filter-header .custom-btn-icon img.end{transform:rotate(225deg);}

.index-filter-content{overflow:hidden;max-height:0;opacity:0;}
.index-filter-content.end{max-height:350px;opacity:1;}

/* ---- INDEX FILTER STYLES */

.index-filter-content .button-group-filter{padding:25px;}

.index-filter-content .button-group{float:left;margin-right: 40px;}
.index-filter-content .button-group li{margin-bottom: 7px;}
.index-filter-content button{padding:6px 7px;background-color: #eaeaea;border:none;border-radius:3px;}
.index-filter-content button.active{background-color:#4a3c3c;color:#eaeaea;}

.datepicker th.dow{display:none;}
.datepicker th.next{text-align: right;}
.datepicker .old,
.datepicker .new{color:#a59e9e;}
.datepicker tbody{padding:4px;border-radius: 5px;background:#eaeaea;}
.datepicker .active.day{font-family: 'CircularStd-Medium'; }
.datepicker td{padding:3px 8px !important;cursor: pointer;}
.datepicker .datepicker-switch{text-align:center;}

.list-change li {text-transform: uppercase;cursor:pointer;}
.list-change li i{margin-right: 5px;font-size: 1.4rem}

.index-blocks{margin-top: 50px;}
.index-blocks .row{overflow:hidden;}
.index-blocks.list .index-item{position:relative;display:table;width:100%;margin-bottom: 10px;cursor:pointer;}
.index-blocks.list .index-item>img{margin-right: 20px;float:left;height:80px;}
.index-blocks.list .index-item .index-item-head{display:table;margin-right: 20px;float:left;width:107px;height:80px;color:white;background:#4b3c3b;}
.index-blocks.list .index-item .index-item-head-content{display:table-cell;vertical-align:middle;text-align: center;line-height:16px;}
.index-blocks.list .index-item>p{width:100%;height:80px;padding:10px;background-color: #f4f3ee;line-height: 31px;}

.index-blocks.list .index-item.highlight{-webkit-box-shadow: 0px 1px 3px 0px rgba(100, 100, 100, 0.75); -moz-box-shadow:0px 1px 3px 0px rgba(100, 100, 100, 0.75); box-shadow:0px 1px 3px 0px rgba(100, 100, 100, 0.75);}
.index-blocks.list .index-item.highlight .index-item-head{background:#e8343f;}
.index-blocks.list .index-item.highlight .index-item-content{width:100%;}
.index-blocks.list .index-item.highlight .index-item-content .index-item-content-close{position:absolute;top:30px;right:30px; -webkit-transform: rotate(45deg); transform:rotate(45deg); }
.index-blocks.list .index-item.highlight>p{background:white;margin:0;}
.index-blocks.list .index-item.highlight .index-item-content-text{padding:30px;}
.index-blocks.list .index-item.highlight .index-item-content-text h3{margin-top: 0;}

.index-blocks.list .index-item.highlight.full .index-item-head{position:absolute;top:0;left:0;}

/* MAP */
.header-map{position:relative;z-index:2;padding:30px;background-color:white;}
#map{position:absolute;top:0;right:0;bottom:0;left:0;}
.marker-title{font-weight: 500;text-shadow: 0px 0px #fff;}

@keyframes showMuseumInfo { from { right:-500px } to { right:0px; } }
@keyframes hideMuseumInfo { from { right:0px } to { right:-500px; } }

.map-museum.show-museum{right:0px;animation: showMuseumInfo 0.3s ease;}
.map-museum.hide-museum{animation: hideMuseumInfo 0.3s ease;}

.map-museum{position:absolute;overflow-y:scroll;z-index:10;top:0;right:-500px;bottom:0;width:500px;padding:80px 30px;background:white;}
.map-museum-close{position:absolute;right:0;top:0;cursor:pointer;}
.map-museum-close i{padding:3px 10px 4px 11px;background-color: #e7353e;color:white;cursor:pointer;}

.map-museum-title{margin-bottom: 0;}
.map-museum-link{font-size: 2rem;}
.map-museum-img{padding:30px 0;}
.map-museum-description{padding-bottom:30px;}
.map-museum-info{padding-bottom:30px;}


/* SIDEBAR */
@keyframes showSidebar { from { opacity:0; } to { opacity:1; } }
@keyframes hideSidebar { from { opacity:1; } to { opacity:0; } }

.sidebar{position:relative;z-index:20000;margin:0;margin-top:50px;opacity:0;}
.sidebar.show-sidebar{opacity:1;animation:showSidebar 0.3s linear;}
.sidebar.hide-sidebar{animation:hideSidebar 0.2s linear;}
.sidebar-highlight-block{margin-bottom: 30px;padding:30px;background-color:#e7353e; color:white;}
.sidebar-default-block{margin-bottom: 30px;-webkit-box-shadow: 0px 1px 3px 0px rgba(100, 100, 100, 0.75); -moz-box-shadow:0px 1px 3px 0px rgba(100, 100, 100, 0.75); box-shadow:0px 1px 3px 0px rgba(100, 100, 100, 0.75);}
.sidebar-default-block-content{padding:30px;}

/* CAROUSEL VIGNETTE */
.carousel-vignette .carousel-control.left,
.carousel-vignette .carousel-control.right{background-image:none; display: flex; justify-content: center; flex-direction: column;font-size: 30px;color:#4a3c3c;}
.carousel-vignette .carousel-control.left {left: -80px;}
.carousel-vignette .carousel-control.right {right: -190px;}
.carousel-vignette .carousel-control{opacity:1;text-shadow: none;}
.carousel-vignette .carousel-control .control-item{height:120px;width:60px;background-image:none; display: flex; justify-content: center; flex-direction: column;background: #d6d6d6;}
.carousel-vignette .carousel-vignette-item{margin-bottom: 30px;}
.carousel-vignette .carousel-vignette-item img{padding-bottom: 20px;}

/* PLUS VIGNETTE */
.plus-container{ display: flex; justify-content: space-between; }
.plus-vignette{position:relative;display: flex; flex-direction: column;margin-bottom: 30px;-webkit-box-shadow: 0px 1px 3px 0px rgba(100, 100, 100, 0.75); -moz-box-shadow:0px 1px 3px 0px rgba(100, 100, 100, 0.75); box-shadow:0px 1px 3px 0px rgba(100, 100, 100, 0.75);}
.plus-vignette-content{padding:30px;}
.plus-vignette-content p{padding-right:30px;}
.plus-vignette-button{position:absolute;right:0;bottom:0;padding:4px 8px;text-align: right;background: #d6d6d6;}
