img#logo{height:40px}
h1,h2,h3,h4,h5,h6{font-family: "Helvetica", swiss, sans-serif;font-weight: bold}
.content_block{ margin:0.1em; border-radius: 3px}
.select label{margin-right: 1em}
.admin-block, .admin-block_img, .admin-block_text {background: white; padding: 0.4em, margin:1em}
/* LAYOUT
*********************************/


/* FORMS
*********************************/
/* SEARCH */
.search:focus{ color: #555; }
/* GENERAL */
.form-control{ color: #555; }
.checkbox input{ position:absolute;top:-14px;left:0;margin-left: 0 !important;}
.checkbox label{padding-left: 25px;}

/* email */
.compose-mail select, .compose-mail select:focus { border: none; padding: 0; width: 80%; float: left;}

/* DEBUG
*********************************/
pre { text-rendering: initial !important; tab-size: 3; }

/* PROFILE
*******************************/
.profile-information .profile-desk{ border: 0; }
.profile-information .profile-statistics { padding-left: 20px; border-left: 1px solid #ddd;}

/* INVOICE
*******************************/
.invoice-title h1  { padding: 12px; }

/* CHAT MESSAGES VIEW ELEMENTS
*******************************/
.msg-in a, .msg-in a:hover { color: white; }

/* SORT
*************************************/
.asc button:after {
	content: ' ⇣';
}
.desc button:after {
	content: ' ⇡';
}

/* Menu
*************************************/
.navbar { border-radius: 0; }

/* Modal
*************************************/
@media (min-width: 1200px) { .modal-dialog{ width: 1170px; } }
@media (min-width: 992px ) and (max-width: 1199px ) { .modal-dialog{ width: 970px; } }

/* Atags
*************************************/
.tag{ font-size: 13px; line-height: 2.4; }

/* Attachment
*************************************/
#attachment-modal .modal-body { background: #f1f2f7; }
#fileDropArea,
#uploadDataArea { height: 136px; }
#spacerArea{ width: 4%; height: 136px; }
#fileDrop { border: dashed 2px #CCC; border-radius:25px; background-color: #FEFEFE; float: left; color: #CCC; width: 100%;  height: 100%; }
#fileDrop p { text-align: center; padding: 20px 0 0 0; font-size: 1.6em; }
#fileDrop .inputbtn { width : 270px; margin: 0 auto; }
.metadata-table td { vertical-align: top; }
.bad-upload-item,
.upload-item { padding: 10px; margin-bottom: 10px; border: dashed 2px #CCC; border-radius:25px; }
.bad-upload-item { border: dashed 2px red; background-color: rgba(255,0,0,0.1); }

#attachment-list{ margin-top: 30px; margin-bottom: 30px; }
.attachment-thumb {  margin: 15px 0 15px 0;  padding: 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background-color: #8099FF; }
.attachment-thumb.selected_thumb { background-color:  #DB80FF; }
.attachment-info { height: 90px; margin: 5px auto; text-align: center; word-wrap: break-word; color: white; }

/*.pagination .disabled { display: none;}*/

/* date
*************************************/
.datetime label,
.time label,
.date label { display: block; }
.datetime select.form-control,
.time select.form-control,
.date select.form-control { width:auto; display:inline-block;}

/* INPUTS
*************************************/
.input { margin-bottom: 20px; }

/* TABLES
*************************************/
tr:hover td { background-color: #75b2f7; }
